<html>
    <body>
        <textarea id="question-box"></textarea>
        <button id="submit-btn">Submit</button>
        <br>
        <br>
        <p id="response-box"></p>

        <script src="{{ url_for("static", filename="index.js") }}"></script>
    </body>

</html>